<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Current Price</th>
            <th>1Y High % Diff</th>
            <th>2Y High % Diff</th>
            <th>5Y High % Diff</th>
            <th>1Y Low % Diff</th>
            <th>2Y Low % Diff</th>
            <th>5Y Low % Diff</th>
        </tr>
        <% tableData.forEach(data => { %>
            <tr>
                <td><%= data[0] %></td>
                <td><%= data[1] %></td>
                <td><%= data[2] %></td>
                <td><%= data[3] %></td>
                <td><%= data[4] %></td>
                <td><%= data[5] %></td>
                <td><%= data[6] %></td>
                <td><%= data[7] %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
